
Build/
Assets/Scripts/JunkForReference/
Library/
Temp/

*.json
*.csproj
*.meta
*.DS_Store
*.sln
*.userprefs
*.ini
Assets/Sounds/.DS_Store
Assets/Sounds/.DS_Store
*.dll
*.dll
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
